form label {
  display: block;
}

form input,
form textarea {
  width: 100%;
}

.awesomplete {
  width: 100%;
}
.awesomplete > ul {
  border-radius: 0.3em;
  margin: 0.2em 0 0;
  background: hsla(0, 0%, 100%, 0.9);
  background: linear-gradient(to bottom right, white, hsla(0, 0%, 100%, 0.8));
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0.05em 0.2em 0.6em rgba(0, 0, 0, 0.2);
  text-shadow: none;
}

@supports (transform: scale(0)) {
  .awesomplete > ul {
    transition: 0.3s cubic-bezier(0.4, 0.2, 0.5, 1.4);
    transform-origin: 1.43em -0.43em;
  }

  .awesomplete > ul[hidden],
  .awesomplete > ul:empty {
    opacity: 0;
    transform: scale(0);
    display: block;
    transition-timing-function: ease;
  }
}

/* Pointer */
.awesomplete > ul:before {
  content: "";
  position: absolute;
  top: -0.43em;
  left: 50%;
  right: 50%;
  width: 0;
  height: 0;
  padding: 0.4em;
  background: white;
  border: inherit;
  border-right: 0;
  border-bottom: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.awesomplete > ul > li {
  position: relative;
  padding: 0.2em 0.5em;
  cursor: pointer;
}

.awesomplete > ul > li:hover {
  background: hsla(210.3, 100%, 63.5%, 0.5);
  color: black;
}

.awesomplete > ul > li[aria-selected="true"] {
  background: hsl(210.3, 100%, 63.5%);
  color: white;
}

.awesomplete mark {
  background: inherit;
  color: inherit;
  font-weight: bold;
}

.awesomplete li:hover mark {
  background: inherit;
  color: inherit;
}

.awesomplete li[aria-selected="true"] mark {
  background: inherit;
  color: inherit;
}

/* Suggested tags styling */

.suggested-tags {
  list-style: none;
  padding: 0;
  margin-top: 0.25rem;
}

.suggested-tag {
  background: hsl(210.3, 100%, 63.5%);
  color: white;
  border-radius: 4px;
  padding: 0.25rem 0.75rem;
  margin-right: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
}

.suggested-tag.active,
.suggested-tag:hover {
  cursor: pointer;
  background: #0060df;
}
